<nav>
  <div class="content d-flex justify-between">
    <a href="javascript:void(0)" class="logo"><img src="././/../assets/img/logo.png" alt="logo" /></a>
    <mat-icon class="c-white">supervised_user_circle</mat-icon>
</div>
</nav>
<mat-drawer-container class="example-container" autosize [hasBackdrop]="bgPopup" [ngClass]="{'mobileView': this.opened}">
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened" (opened)="events.push('open!')"
  (closed)="events.push('close!')" [ngClass]="{'active': showFiller, 'inActive': !showFiller}">
    <a class="bars-btn" (click)="showFiller = !showFiller" [ngClass]="{'active': showFiller, 'inActive': !showFiller}">
      <mat-icon class="c-white">keyboard_arrow_left</mat-icon>
    </a>
    <ul class="menu">
      <li> <mat-icon class="c-white"> table_chart</mat-icon> <a href="javascript:void(0)" *ngIf="!showFiller">Dashboard</a></li>
      <li> <mat-icon class="c-white">home</mat-icon> <a href="javascript:void(0)" *ngIf="!showFiller">Fund</a></li>
      <li> <mat-icon class="c-white">list</mat-icon> <a href="javascript:void(0)" *ngIf="!showFiller">Summary by Fund</a></li>
      <li> <mat-icon class="c-white">view_quilt</mat-icon> <a href="javascript:void(0)" *ngIf="!showFiller">Custom View</a></li>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="w-420 bg-primary attr-none-d d-flex flex-center justify-between p10">
    <div class="d-flex"> 
      <i class="fas fa-user-circle f-size20 m-Right5 c-white"></i>
      <div class="f-size14 c-white t-uppercase">{{user}}</div></div>
  </div>
  <div class="wrap">
    <router-outlet></router-outlet>
  </div>
  </div>
</mat-drawer-container>